html(lang="en")
  head
    include includes/head.pug
    title mohamed ahmed
    link(rel="icon", href="assets/moo2.jpg") 
  body(class="relative")
    include includes/navbar.pug 
    include includes/about.pug 
    include includes/skills.pug 
    include includes/projects.pug 
    include includes/contact.pug 
    span(class="move border-2 rounded-md opacity-50 w-24 h-24 ")
    span(class="move bg-gray-500 rounded-full opacity-50 w-24 h-24 ")


    
  include includes/scripts.pug 