section(id="about" class="mt-24")
  .container
    h1(class="title text-center text-3xl mt-32") HI, I'm Mohamed Ahmed
    h2(class="text-center text-lg mt-2 mb-32") Front-End Developer
    div(class="parent lg:flex justify-between my-20")
      div(class="info lg:w-2/5 sm:w-11/12 my-10 ")
        p(class="tracking-widest text-lg leading-8 my-4 ") I'm a Junior Front-end developer. Creative Front-end Developer with an experience building responsive websites. Highly skilled in designing websites from initial design through completion using a combination of technologies and programming languages plus modern Libraries and frameworks. Always Engage in continues learning to develop my skills.
        a(href="#projects" class="py-2 px-14 rounded-sm bg-red-400 my-3 inline-block text-lg mr-3") My Projects 
        a(href="#contact" class="py-2 px-14 rounded-sm bg-red-400 my-3 inline-block text-lg ") Contact Me 


      div(class="pic lg:w-2/5 sm:w-10/12 mx-auto  ")
        img(src="../assets/moo2.jpg", alt="", loading="lazy")

