section(id="contact" class="mt-24 py-20")
  .container
    h1(class="title text-center text-4xl my-16 ") Contact
    div(class="social mx-auto py-16 flex flex-wrap w-max")
      span(class="text-4xl block mr-3 my-4 hover:text-yellow-400 transition duration-500")
        a(href="https://www.facebook.com/profile.php?id=100007911797084" target="_blank")
          i(class="ri-facebook-circle-fill")
      span(class="text-4xl block mr-3 my-4 hover:text-yellow-400 transition duration-500")
        a(href="https://mail.google.com/mail/u/0/#inbox" target="_blank")
          i(class="ri-mail-send-fill" aria-hidden="true") 
      span(class="text-4xl block mr-3 my-4 hover:text-yellow-400 transition duration-500")
        a(href="https://www.linkedin.com/in/mohamed-ahmed-1763b51b7" target="_blank")
          i(class="ri-linkedin-box-fill") 
      span(class="text-4xl block mr-3 my-4 hover:text-yellow-400 transition duration-500")
        a(href="https://wa.me/+201091925941?text=" target="_blank")
          i(class="ri-whatsapp-fill") 
      span
        a(href="https://mostaql.com/u/mohamed_ahmed72" target="_blank")
          img(src="../assets/mostaql.png", alt="", class="w-10 rounded-full mt-4 ", loading="lazy")