nav(class="relative")
  div(class="container")
    div(class="parent")
      div(class="logo")
        img(src="./assets/mmlogo.jpg", alt="")
        span Mohamed Ahmed

      div(class="list")
        ul
          li
            a(href="#about") About
          li
            a(href="#skills") Skills
          li
            a(href="#projects") Projects
          li
            a(href="#contact") Contact

      div(class="menu absolute top-0 right-3 cursor-pointer")
        i(class="ri-menu-fill")